@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap");
* {
	padding: 0;
	margin: 0;
	font: 14px/1.5 "Montserrat", sans-serif;
}
.detail-doctor-header {
	height: 60px;
	width: 100%;
	position: relative;
	display: flex;
	background: #45c3d2;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.detail-doctor-header-left {
	width: 70%;
	padding: 17px 20px;
	display: inline-flex;
}
.detail-doctor-header-left i {
	font-size: 20px;
	padding: 2px 20px;
	cursor: pointer;
	color: white;
}
.detail-doctor-header-left h2 {
	display: inline-block;
	font-size: 17px;
	color: #ffffff;
}
.detail-doctor-header-right {
	position: absolute;
	display: inline-flex;
	padding: 20px 20px;
	right: 0;
}
.detail-doctor-header-right .fas {
	font-size: 22px;
	color: #ffffff;
	padding: 0 20px;
	cursor: pointer;
}
.detail-doctor-header-support {
	color: #ffffff;
	cursor: pointer;
}
.detail-doctor-header-right i {
	color: #ffffff;
	cursor: pointer;
}
.booking-detail-doctor-container {
	height: auto;
}

.form-container-email {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	max-width: 600px;
	width: 500px;
	height: 400px;
	background-color: #fff;
	padding: 32px 24px;
	font-size: 14px;
	font-family: inherit;
	color: #212121;
	display: flex;
	flex-direction: column;
	gap: 20px;
	box-sizing: border-box;
	border-radius: 10px;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084),
		0px 2px 3px rgba(0, 0, 0, 0.168);
}

.form-group-email {
	margin: 20px 0;
}

.form-container-email button:active {
	scale: 0.95;
}

.form-container-email .logo-container-email {
	text-align: center;
	font-weight: 600;
	font-size: 18px;
}

.form-container-email .form-email {
	display: flex;
	flex-direction: column;
}

.form-container-email .form-group-email {
	display: flex;
	flex-direction: column;
	gap: 2px;
}

.form-container-email .form-group-email label {
	display: block;
	margin-bottom: 5px;
}

.form-container-email .form-group-email input {
	width: 100%;
	padding: 12px 16px;
	border-radius: 6px;
	font-family: inherit;
	border: 1px solid #ccc;
}

.form-container-email .form-group-email input::placeholder {
	opacity: 0.5;
}

.form-container-email .form-group-email input:focus {
	outline: none;
	border-color: #1778f2;
}

.form-container-email .form-submit-btn-email {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: inherit;
	color: #fff;
	background-color: #212121;
	border: none;
	width: 100%;
	padding: 12px 16px;
	font-size: inherit;
	gap: 8px;
	margin: 20px 0;
	cursor: pointer;
	border-radius: 6px;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084),
		0px 2px 3px rgba(0, 0, 0, 0.168);
}

.form-container-email .form-submit-btn-email:hover {
	background-color: #313131;
}

.form-container-email .link {
	color: #1778f2;
	text-decoration: none;
}

.form-container-email .signup-link {
	align-self: center;
	font-weight: 500;
}

.form-container-email .signup-link .link {
	font-weight: 400;
}

.form-container-email .link:hover {
	text-decoration: underline;
}

.more-questions {
	height: 50px;
	width: 100%;
	background: #006e6f;
}
.more-questions p {
	padding: 13px 80px;
	font-size: 14px;
	color: #fff;
}
.more-questions p a {
	color: #fff04b;
	font-weight: bold;
	padding-left: 5px;
	text-decoration: none;
}

/* footer */
.footer1 {
	position: relative;
	width: 100%;
	height: 300px;
	display: flex;
	background: #efefef;
	border-bottom: 3px solid #efeef5;
}
.company-infor {
	width: 50%;
	height: 350px;
}
.company-logo {
	background: url(../../assets/images/logodana.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: left;
	margin: 30px 0 10px 70px;
	height: 60px;
	width: 100%;
}
.company-address {
	margin-left: 70px;
}
.company-address h2 {
	padding-bottom: 5px;
	font-size: 16px;
	font-weight: bold;
}
.company-address p {
	padding: 3px 0;
}
.company-address p i {
	font-size: 15px;
	margin-right: 7px;
}
.registered {
	display: flex;
	margin-left: 70px;
	margin-top: 10px;
}
.registered-1 {
	background: url(https://bookingcare.vn/assets/icon/bo-cong-thuong.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: left;
	margin-right: 20px;
	height: 40px;
	width: 90px;
	cursor: pointer;
}
.registered-2 {
	background: url(https://bookingcare.vn/assets/icon/bo-cong-thuong.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: left;
	height: 40px;
	width: 90px;
	cursor: pointer;
}
.list-features {
	width: 25%;
	height: 350px;
}
.list-features ul {
	margin: 20px 20px;
}
.list-features ul li {
	list-style: none;
	padding: 6px;
}
.list-features ul li a {
	text-decoration: none;
	color: #1cbfd1;
}
.more-infor {
	width: 25%;
	height: 350px;
	padding: 20px 20px;
}
.more-infor h2 {
	font-size: 15px;
	font-weight: 600;
}
.headquarter {
	margin-bottom: 20px;
}
.office {
	margin-bottom: 20px;
}

.footer2-room {
	width: 100%;
	height: 60px;
	display: flex;
	background: #1cbfd1;
}
.footer-left {
	text-align: center;
	width: 50%;
}
.footer-left p {
	padding: 19px;
}
.footer-right {
	width: 50%;
	text-align: center;
}
.footer-right i {
	font-size: 20px;
	padding: 20px;
	cursor: pointer;
}

#localVideo,
#remoteVideo {
	width: 50%;
	height: 454px;
}

.video-box:nth-child(n + 3) {
	display: none;
}

#chatBox {
	padding: 10px;
	width: 100%;
	height: 142px;
	border: 1px solid gray;
	overflow-y: scroll;
}

.chat-box {
	position: relative;
}

.video-box-send {
	position: relative;
}

#messageInput {
	width: 100%;
	padding: 8px;
	outline: none;
}

#sendMessageButton {
	padding: 10px 20px;
	background-color: #4caf50;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	position: absolute;
	right: 0;
	bottom: 0;
}

.video-box {
	display: flex;
	position: relative;
}

.btn-join-room {
	position: absolute;
	top: 33%;
	left: 15%;
	padding: 20px;
	border-radius: 50%;
	background-color: #4caf50;
	color: white;
	border: none;
}

.btn-join-room2 {
	position: absolute;
	top: 33%;
	left: 54%;
	padding: 20px;
	border-radius: 50%;
	background-color: #4caf50;
	color: white;
	border: none;
}

.msg-name {
	margin-bottom: 0;
	font-size: 12px;
	font-weight: 500;
}

.msg-message {
	background-color: #1778f2;
	color: white;
	width: fit-content;
	padding: 7px;
	font-size: 18px;
	margin-top: 5px;
	margin-bottom: 0;
	border-radius: 7px;
}

.mute-mic {
	position: absolute;
	bottom: 0;
	left: 0;
}

.mute-mic i {
	font-size: 25px;
	margin-left: 120px;
	margin-bottom: 15px;
	cursor: pointer;
	color: #fff;
}

.mute-mic .mute-video i {
	font-size: 25px;
	margin-left: 70px;
	margin-bottom: 15px;
	cursor: pointer;
}

.mute-mic {
	display: none;
	transition: linear 2s;
}

.video-box:hover .mute-mic {
	display: block;
}
