#customers {
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

#customers td,
#customers th {
	border: 1px solid #ddd;
	padding: 8px 10px;
}

#customers tr:nth-child(even) {
	background-color: #f2f2f2;
}

#customers tr:hover {
	background-color: #ddd;
}

#customers th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #0071ba;
	color: white;
}

.btn-edit {
	width: 50px;
	border: none;
	outline: none;
	background: transparent;
	color: orange;
}

.btn-edit:hover {
	background: transparent;
	color: rgb(255, 115, 0) !important;
}

.btn-delete {
	width: 50px;
	border: none;
	outline: none;
	background: transparent;
	color: rgb(255, 0, 0);
}

.btn-delete:hover {
	background: transparent;
	color: rgb(255, 0, 0) !important;
}

.modal {
	display: block;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.modal-content {
	margin: auto;
	padding: 20px;
	background: #fff;
	border: 1px solid #888;
	width: 60%;
	height: auto !important;
}
.modal-content p {
	font-size: 20px;
	font-weight: bold;
	color: #031bf4;
	text-align: center;
}
.modal-content input {
	border-radius: 4px;
	height: 35px;
	margin: 10px 0;
	padding: 10px;
	color: rgb(17, 17, 17);
	background: #fff;
	border: 1px solid rgb(141, 141, 141);
	outline: none;
}
.pass-field {
	display: flex;
}
.email,
.fullname,
.address {
	width: 100%;
}
.password {
	width: 49%;
}
.password-edit {
	width: 100%;
}
.confirm-password {
	margin-left: 2% !important;
	width: 49%;
}

.modal-select {
	display: flex;
}

#gender-select {
	height: 35px;
	width: 30%;
	margin: 10px 2%;
	padding-left: 8px;
	outline: none;
	color: rgb(17, 17, 17);
	background: #fff;
	border: 1px solid rgb(141, 141, 141);
	border-radius: 4px;
}

#role-select {
	height: 35px;
	width: 30%;
	padding-left: 8px;
	margin: 10px 0;
	outline: none;
	color: rgb(17, 17, 17);
	background: #fff;
	border: 1px solid rgb(141, 141, 141);
	border-radius: 4px;
}

.phoneNumber {
	width: 36%;
}

.modal-btn {
	display: flex;
	margin: 5px auto;
	width: auto;
}
.btn-add-new {
	width: fit-content !important;
	height: 37px;
	border: none;
	outline: none;
	padding: 7px 20px;
	margin-top: 20px;
	border-radius: 5px;
	color: #f5f5f5;
	font-weight: bold;
	background-color: #0858eb;
	cursor: pointer;
}
.btn-cancel {
	width: 80px;
	height: 37px;
	border: none;
	outline: none;
	margin-left: 40px;
	margin-top: 20px;
	padding: 7px 17px;
	border-radius: 5px;
	color: #f5f5f5;
	font-weight: bold;
	background-color: rgb(99, 99, 100);
	cursor: pointer;
}

[disabled] {
	opacity: 0.7;
}

.confirm-delete {
	display: flex;
	flex-direction: column;
	position: fixed;
	background-color: whitesmoke;
	border: 1px solid #a3a3a3;
	width: 240px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 0.3rem;
	padding: 1rem;
	z-index: 5;
}

.confirmation-text {
	color: black;
	margin: 0.5rem 0 2rem;
	text-align: center;
	line-height: 2rem;
	font-size: 17px;
}

.button-container {
	display: flex;
	margin-top: auto;
	justify-content: space-between;
}

.confirmation-button {
	display: inline-flex;
	background-color: #cc0000;
	color: white;
	padding: 0.7rem 1.4rem;
	border: none;
	border-radius: 0.3rem;
	font-size: 1rem;
}

.cancel-button {
	background-color: #999999;
	padding: 0.7rem 1.4rem;
	border: none;
	border-radius: 0.3rem;
	font-size: 1rem;
}

.confirmation-button:hover {
	background-color: red;
	cursor: pointer;
}

.cancel-button:hover {
	background-color: #b2b2b2;
	cursor: pointer;
}

.pagination-container {
	display: flex;
	justify-content: center;
	align-items: center;
}
