.form-group-password {
	margin: 7px 0;
}

.form-container-email button:active {
	scale: 0.95;
}

.form-container-email .logo-container-email {
	text-align: center;
	font-weight: 600;
	font-size: 18px;
}

.form-container-email .form-email {
	display: flex;
	flex-direction: column;
}

.form-container-email .form-group-password {
	display: flex;
	flex-direction: column;
	gap: 2px;
}

.form-container-email .form-group-password label {
	display: block;
	margin-bottom: 5px;
	font-weight: 300 !important;
}

.form-container-email .form-group-password input {
	width: 100%;
	padding: 9px 16px;
	border-radius: 6px;
	font-family: inherit;
	border: 1px solid #ccc;
}

.go-login-delete {
	display: flex;
	flex-direction: column;
	position: fixed;
	background-color: whitesmoke;
	border: 1px solid #a3a3a3;
	width: 340px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 0.3rem;
	padding: 1rem;
	z-index: 5;
}

.go-login-button {
	width: 100%;
	height: 40px;
	border-radius: 10px;
	outline: none;
	border: none;
	font-size: 17px;
	color: white;
	font-weight: bold;
	background-color: aqua;
}
