

.login-box {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 400px;
	padding: 40px;
	transform: translate(-50%, -50%);
	background: rgba(8, 7, 7, 0.651);
	box-sizing: border-box;
	box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
	border-radius: 10px;
}

.login-box h2 {
	margin: 0 0 30px;
	padding: 0;
	color: #fff;
	text-align: center;
}

.login-box .user-box {
	position: relative;
}

.login-box .user-box input {
	width: 100%;
	padding: 10px 0;
	font-size: 16px;
	color: #fff;
	margin-bottom: 30px;
	border: none;
	border-bottom: 1px solid #fff;
	outline: none;
	background: transparent;
}
.user-box label {
	position: absolute;
	top: -20px;
	left: 0;
	padding: 10px 0;
	font-size: 16px;
	color: #03e9f4;
	pointer-events: none;
	transition: 0.5s;
}

/* .user-box input:focus ~ label,
.user-box input:valid ~ label {
	top: -20px;
	left: 0;
	color: #03e9f4;
	font-size: 13px;
} */

.btn-login {
	position: relative;
	padding: 10px 20px;
	color: #03e9f4;
	outline: none;
	border: none;
	background: none;
	font-size: 16px;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	transition: 0.5s;
	margin-top: 40px;
	margin-left: 25px;
	letter-spacing: 4px;
}

.btn-signup {
	position: relative;
	padding: 10px 20px;
	color: #03e9f4;
	outline: none;
	border: none;
	background: none;
	font-size: 16px;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	transition: 0.5s;
	margin-top: 40px;
	margin-left: 25px;
	letter-spacing: 4px;
}

.btn-login:hover {
	background: #03e9f4;
	color: #fff;
	border-radius: 5px;
}
.btn-signup:hover {
	background: #03e9f4;
	color: #fff;
	border-radius: 5px;
}
