html,
body {
	width: 100%;
	height: 100%;
	font-family: sans-serif;
}

.login-container {
	width: 100%;
	height: 100%;
	background-image: url("/src/assets/images/banner2.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.login-logo {
	background: url("../../assets/images/logodana.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	height: 60px;
	width: 250px;
	cursor: pointer;
	margin: 0 auto 35px;
}

/* body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-image: url("../images/banner/banner1.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
} */

.login-box {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 400px;
	padding: 40px;
	transform: translate(-50%, -50%);
	background: rgba(8, 7, 7, 0.651);
	box-sizing: border-box;
	box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
	border-radius: 10px;
}

.login-box h2 {
	margin: 0 0 30px;
	padding: 0;
	color: #fff;
	text-align: center;
}

.login-box .user-box {
	position: relative;
}

.login-box .user-box input {
	width: 100%;
	padding: 10px 0;
	font-size: 16px;
	color: #fff;
	margin-bottom: 30px;
	border: none;
	border-bottom: 1px solid #fff;
	outline: none;
	background: transparent;
}
.login-box .user-box label {
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px 0;
	font-size: 16px;
	color: rgb(173, 172, 172);
	pointer-events: none;
	transition: 0.5s;
}

.user-box i {
	position: absolute;
	top: 0;
	right: 0;
	padding: 10px 5px;
	font-size: 16px;
	color: rgb(173, 172, 172);
}

.user-box input:focus ~ label,
.user-box input:valid ~ label {
	top: -20px;
	left: 0;
	letter-spacing: 1px;
	color: #03e9f4;
	font-size: 14px;
}

.btn-login {
	padding: 10px 30px;
	margin: 30px 0 20px 90px;
	border-radius: 5px;
	border: 1px solid #03e9f4;
	outline: none;
	font-size: 17px;
	letter-spacing: 5px;
	text-transform: uppercase;
	font-weight: bold;
	color: #03e9f4;
	background-color: transparent;
	cursor: pointer;
	transition: 0.5s;
}

.btn-login:hover {
	background: #03e9f4;
	color: #fff;
	border-radius: 5px;
}

.not-member {
	color: rgb(173, 172, 172);
	text-align: center;
	font-size: 14px;
	letter-spacing: 1px;
}

.not-member a {
	text-decoration: none;
	padding-left: 7px;
	color: #03e9f4;
	font-size: 16px;
	cursor: pointer;
}

.forgot-pass {
	color: rgb(206, 204, 204);
	float: right;
	text-decoration: none;
	font-style: italic;
	letter-spacing: 0.5;
	font-size: 14px;
	padding-top: 10px;
}

.forgot-pass:hover {
	color: #03e9f4;
}
