.specialty-container {
	position: relative;
	width: 100%;
	height: 350px;
	border-bottom: 3px solid #efeef5;
    background: #f5f5f5;
}
.spec-slide-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 30px;
	width: 1200px;
	height: 250px;
	overflow: hidden;
}
#spec-slide {
	width: max-content;
	margin-top: 10px;
}
.spec-content-up {
	display: flex;
}
.spec-title {
	font-size: 25px;
	font-weight: 600;
	margin: 10px 0 10px 40px;
	width: 80%;
	color: #333;
}
.spec-btn {
	padding: 10px 15px;
	background: #d4d3d3;
	display: inline-block;
	font-size: 12px;
	text-transform: uppercase;
	border: none;
	outline: none;
	cursor: pointer;
	color: #282e41;
	margin: 10px auto;
}
.spec-btn:hover {
	background: gold;
	color: #fff;
}
.spec-slide-img {
	width: 280px;
	height: 160px;
	border-radius: 3px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: inline-block;
	color: #333;
	transition: all 0.3s linear;
	position: absolute;
	cursor: pointer;
	z-index: 1;
}
.spec-slide-img:hover {
	transform: scale(1.02);
}
.spec-slide-item {
	width: 280px;
	height: 160px;
	border-radius: 5px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: inline-block;
	color: #333;
	transition: 1s;
	position: absolute;
	cursor: pointer;
	z-index: 1;
}
.spec-content {
	position: absolute;
	margin-top: 7px;
	top: 100%;
	width: 100%;
	padding: 0 5px;
	text-align: justify;
}
.spec-content:hover {
	color: #45c3d2;
}
.spec-buttons {
	position: absolute;
	bottom: 40%;
	display: flex;
	text-align: center;
	justify-content: center;
	width: 100%;
}
.spec-prev {
	position: absolute;
	bottom: 20px;
	left: 10px;
	width: 100%;
}
.spec-next {
	position: absolute;
	bottom: 20px;
	right: 10px;
	width: 100%;
}
.spec-buttons button {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 1px solid #555;
	transition: 0.5;
	cursor: pointer;
	opacity: 0.2;
}
.spec-buttons button:hover {
	background-color: #d8d8d8;
	opacity: 0.7;
}
.spec-slide-item:nth-child(1) {
	opacity: 0;
	transform: translate(-111%);
}
.spec-slide-item:nth-child(2) {
	transform: translate(-5%);
}
.spec-slide-item:nth-child(3) {
	transform: translate(101%);
}
.spec-slide-item:nth-child(4) {
	transform: translate(207%);
}
.spec-slide-item:nth-child(5) {
	transform: translate(313%);
}
.spec-slide-item:nth-child(6) {
	transform: translate(419%);
}
.spec-slide-item:nth-child(n + 7) {
	opacity: 0;
	transform: translate(525%);
}
@media screen and (max-width: 1200px) {
	.spec-slide-container {
		width: 100%;
	}
}
@media screen and (max-width: 600px) {
	.specialty-container {
		height: 280px;
	}
	.spec-slide-container {
		top: 55%;
		left: 50%;
		height: 220px;
		transform: translate(-50%, -50%);
	}
	.spec-btn {
		padding: 5px 9px;
		font-size: 10px;
		margin: 20px auto;
	}
	.spec-title {
		font-size: 18px;
		margin: 20px 0 10px 10px;
		width: 70%;
	}
	.spec-slide-img {
		width: 180px;
		height: 100px;
	}
	.spec-slide-item {
		width: 180px;
		height: 100px;
	}
	.spec-content {
		font-size: 12px;
	}
}
@media screen and (max-width: 425px) {
	.specialty-container {
		height: 280px;
	}
	.spec-slide-container {
		top: 55%;
		left: 50%;
		height: 220px;
		transform: translate(-50%, -50%);
	}
	.spec-btn {
		padding: 5px 9px;
		font-size: 10px;
		margin: 20px auto;
	}
	.spec-title {
		font-size: 18px;
		margin: 20px 0 10px 10px;
		width: 70%;
	}
	.spec-slide-img {
		width: 180px;
		height: 100px;
	}
	.spec-slide-item {
		width: 180px;
		height: 100px;
	}
	.spec-content {
		font-size: 12px;
	}
	.spec-buttons button {
		width: 30px;
		height: 30px;
		border: 0.5px solid #555;
	}
}
